
:rootn {
    --background-color: #06908F;
    --heading-colo: #FA0107;
    --Accent-color: #FBFF12;
    --body-text-color: #000000;

    --heading-font: 'Montserrat', serif;
    --body-font: 'Raleway', serif;
}