:root {
    --headers-font: "Montserrat", sans-serif;
    --body-text-font: "Roboto", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #fdf7ff;
    color: #090c9b;
    font-family: var(--body-text-font);
    font-weight: 300;
}


h1,
h2,
h3,
h4 {
    font-family: var(--headers-font);
}

header {
    background-color: #998;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: #000;
    width: 100%;
    height: 100px;
    gap: 1.8rem;
}



h1 {
    font-weight: 700;
    font-size: 25px;
    /* max-width: 200px; */
    width: 100%;
    margin-top: 0;
    line-height: 1.2;
    padding-top: 10px;
}



nav {
    background-color: aqua;
    padding: 10px;
}

#grid-button,
#list-button {
    cursor: pointer;
}

#trygram {
    font-size: 2rem;
    background: none;
    border: none;
    color: black;
    cursor: pointer;
    width: 100%;
    text-align: right;
    padding: .25rem 2vw;
    visibility: visible;
}

ul.menu-navs li a {
    display: block;
    padding: .75rem 2vw;
    color: black;
    text-decoration: none;
    list-style: none;
}

a.active {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

ul.menu-navs {
    list-style-type: none;
}

#trygram::before {
    content: "\2630";
    color: white;
}

#trygram.show::before {
    content: "X";
    color: white;
}

nav {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s ease-out;
}

nav ul{overflow: hidden;}

nav.show {
    grid-template-rows: 1fr;

}

ul.menu-navs li a:hover {
    background-color: rgb(142, 113, 113, 0.4);
    border-radius: 5px;
}



h2 {
    padding: 10px;
    font-size: 30px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.display-type {
    text-align: center;
    width: 100%;
    margin-bottom: 3rem;
}

.display-type button {
    padding: .5rem 3vw;
    align-items: center;
    border: none;
    background-color: #998;
    border-radius: 5px;

}

#grid-button {
    margin-right: 3rem;
}

#business-cards {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin-bottom: 2rem;
    justify-content: center;
}

#business-cards.grid-view {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}


.list-view .business {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
    border-radius: 8px;
    padding: 1rem;
    background-color: rgb(238, 241, 245);
    border: 1px solid rgb(204, 202, 202);
    margin-bottom: 2rem;
    width: 80%;
}

#business-card.list-view .business {
    
    margin-bottom: 2rem;
}

#business-cards.list-view .business img {
    display: none;
}



.business {
    border-radius: 8px;
    background-color: rgb(238, 241, 245);
    margin: 0 auto;
    border: 1px solid rgb(204, 202, 202);
}


.business h3,
address,
p,
a {
    padding: 5px;
}

.business a {
    font-size: 20px;
    color: black;
    padding: .25rem 2vw;
}

.business a:hover {
    color: red;
}

    
footer {
    background-color: #998;
    padding: 10px;
    color: #000;
    display: grid;
    grid-template-columns: 1fr;
}

.social-media a {
    text-decoration: none;
    list-style-type: none;
}

.social-media {
    padding: 10px;
    text-align: center;
    margin-top: 0.7em;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
}


.cta-invite-para p strong {
    font-weight: 700;
}

.hero-items img {
    width: 100%;
    height: auto;
}

.spotlight-card {
    align-items: center;
}

.cta  {
    text-align: center;
    background-color: rgb(218, 214, 208);
    padding: .8rem;
    width: 100%;
    height: auto;
}

.cta h2 {
    font-size: 25px;
    padding: 0;
}

.cta-invite-para p  {
    padding: .5rem;
}

.cta a {
    text-decoration: none;
    background-color: #998;
    margin-top: 2rem;
    padding:.7em 2vw;
    color: #000;
    border-radius: 5px;
}

.cta a:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.hero-items p {
    font-size: 15px;
    position: absolute;
    background-color: black;
    left: 35%;
    top: 75%;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    color: white;
    opacity: .9;
    margin-right: 3rem;
}

.hero-items {
    position: relative;
    display: inline-block; 
    text-align: center;
}



.events-weather h3 {
    background-color: #000;
    color: white;
    padding: 10px;
    border-radius: 3px;
    text-align: center;
    width: 100%;
    height: auto;
}

.events h3 {
    margin-bottom: .9rem;
}



.events-weather {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
}

.current-weather ,.weather-forecast, .events {
    background-color: lightgray;
    margin-bottom: 1.2rem;
    height: 20em;
}

#forecast-info {
    padding: 10px;
}

#forecast-info p {
    padding: 10px;
}


#spotlights-container {
    text-align: center;
}

.spotlight-card {
   background-color: rgb(243, 240, 240);
   margin-bottom: 1.3rem;
   border-radius: 8px;
}

.header-tagline {
    padding: 10px;
}

.spotlight-card img {
    margin-top: .3rem;
}

.form-sec h2 {
    font-size: 1.5rem;
    padding: 0;
    margin-left: 1.2rem;
}

#joinform label {
    display: block;
    padding: 10px;
}

#joinform .radio-header {
    font-size: 20px;
    color: black;
    padding: 8px;
}

#joinform input[type="text"],
#joinform input[type="email"],
#joinform input[type="tel"],
#joinform textarea {
    display: block;
    padding: .75rem;
    background-color: lightgray;
    border-radius: 5px;
    color: black;
    width: 100%;
    max-width: 400px;
} 

hr {
    width: 100%;
    max-width: 400px;
}

#joinform input:required {
    border-bottom: 8px solid blue;
}

#joinform input:required:valid {
    border-bottom: 8px solid green
}

#joinform input[type="radio"] {
    margin-left: 6px;
}


#joinform button[type="submit"] {
    padding: .8rem;
    width: 100%;
    max-width: 400px;
    margin-left: .5rem;
    background-image: linear-gradient(#221e41, #130e70);
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 8px 8px 0 0;
    text-align: center;

}

#joinform textarea {
    height: 100px;
    scroll-padding-block: 10px;
}

.dialog-sec h2 {
    font-size: 1.5rem;
    padding: 0;
    margin-left: 1.2rem;
}

.dialog-sec h3  {
    padding: 10px;
    text-align: center;

}



.dialog-sec section {
    padding: 10px;
    background-color: gray;
    margin-bottom: 1.5rem;
    width: 100%;
    max-width: 400px;
    border-radius: 8px 0 8px 0;
    margin-left: .6rem;
    
}

.show-dialog {
    padding: .75rem;
    border: none;
    background-image: linear-gradient(#221e41, #130e70);
    color: white;
    cursor: pointer;
    border-radius: 8px;
    display: block;
    margin: auto;
}

.join-main {
    display: grid;
    grid-template-columns: 1fr;
}


dialog h4 {
    padding: .2rem;
}

dialog ul {
    margin-bottom: .5rem;
}

dialog ul li {
    padding: 5px;
    margin-left: .5rem;
    list-style-type: square;
}

dialog strong {
    font-weight: 700;
    margin-bottom: .5rem;
}

.close-dialog {
    display: block;
    padding: .80rem;
    margin: auto;
    width: 100%;
    max-width: 100px;
    border: none;
    cursor: pointer;
    background-color: black;
    color: white;
    border-radius: 10px 0 10px 0;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0);
    transition: all 0.5s ease-out;
}

dialog {
    padding: .8rem;
    background-color: lightblue;
    margin: auto;
    border: 1px solid black;
    width: 100%;
    border-radius: 8px;
    opacity: 0;
    transition: all 0.5s ease-out;
}

dialog[open] {
    opacity: 1;
}

@starting-style {
    dialog[open] {
        opacity: 0;
    }
}

dialog[open]::backdrop {
    background-color: rgba(0, 0, 0, 0.8);
}

@starting-style {
    dialog[open]::backdrop {
        background-color: rgba(0, 0, 0, 0)
    }
}

@keyframes stuckup {
    0% {
         margin-bottom: 8rem;
         opacity: 0;

    }

    100% {
        margin-bottom: 1.5rem;
        opacity: 1;

    }
}

.dialog-sec section {
    animation: 1.2s ease-out stuckup;
}


#form-details {
    padding: 40px;
    background-color: rgb(57, 61, 62);
    color: white;
    margin: 1rem;
    border-radius: 8px;
    
}




@media screen and (min-width: 44rem) {

    header {
        display: grid;
        grid-template-columns: 200px auto;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        flex-grow: 1;
        height: auto;
    }

    header img {
        text-align: center;
    }


    h1 {
        font-size: 35px;
    }

    #trygram {
        display: none;

    }

    ul.menu-navs,
    ul.menu-navs.show {
        display: flex;
        justify-content: center;
        gap: 4rem;
    }

    nav {
        grid-template-rows: 1fr;
    }

    ul.menu-navs li a:hover {
        background-color: rgb(142, 113, 113, 0.4);
        border-radius: 5px;
    }

    #business-cards {
        max-width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        justify-content: space-around;
    }

    #business-cards.list-view {
        display: block;
        width: 100%;
    }




    footer {
        display: flex;
        justify-content: space-around;
        padding: 20px;
        align-items: center;
        width: 100%;
        height: auto;
    }

    .social-media {
        margin-top: .7em;
        width: auto;
    }

    .events-weather {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        width: 100%;
        gap: 2rem;
        justify-content: space-around;
        box-sizing: border-box;
    }

    .events {
        grid-column: 1/3;
    }

    #spotlights-container {
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        flex-grow: 1;
        align-items: center;
        justify-content: space-around;
        gap: 2em;
        margin: auto;
        
    }

    .spotlight-card {
        flex: 1;
    }

    .hero-items p {
        top: 85%;
        left: 40%;
        font-size: 25px;
        opacity: 2;
    }

    .join-main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;

    }

    .dialog-sec section {
        width: 100%;
        max-width: 600px;
    }

    

    #joinform button[type="submit"] {
        margin-bottom: .9rem;
        padding: 1.2rem;
    }


}